{% extends "annotations/base.html" %}
{% load collectionhelpers %}
{% block title %}
Annotation Session {{ session_id }}
{% endblock %}

{% block pagestyling %}
body {
    height: 100%;
}
#container {
	width: 100%;
	height: 400px;
        margin: 0 auto;
}
#leftpane {
	width: 40%;
	float: left;
}
#rightpane {
	width: 40%;
	float: right;
}
#annotation_pane {
	width: 19%;
	float: left;
	text-align: center;
}
#doubleclear {
	clear: both;
}
#collections {
	overflow: auto;
	height: 18em;
}
.collection {
	width: 18em;
}
{% endblock %}

{% block scripting %}
<script>
var leftitem_id = 0;
var rightitem_id = 0;
var session_id = {{ annotationsession.id }};
var annotation_id = 0;

function change_left(item_id) {
    // get new HTML change leftpane update annotation
    $.get("/a/item_snippet/" + item_id, function (data) {
	$('div#leftpane').html(data);
        leftitem_id = item_id;
        if (rightitem_id != 0) {
            $.get("/a/annotation_query/" + session_id + "/" + leftitem_id + "/" + rightitem_id,  function( data ) {
                    $('textarea#annotation_text').val(data['annotation']);
            });
        };
    });
};

function change_right(item_id) {
    // get new HTML change rightpane update annotation
    $.get("/a/item_snippet/" + item_id, function (data) {
	$('div#rightpane').html(data);
        rightitem_id = item_id;
        if (leftitem_id != 0) {
            $.get("/a/annotation_query/" + session_id + "/" + leftitem_id + "/" + rightitem_id,  function( data ) {
                    $('textarea#annotation_text').val(data['annotation']);
            });
        };
    });
};

function create_annotation() {
    var annotation_packet = {'leftitem':leftitem_id,
                      'rightitem':rightitem_id,
                      'leftitem_state': 0,
                      'rightitem_state': 0,
                      'annotationtext': $('textarea#annotation_text').val(),
                     };
    $.post("/a/annotations/{{ annotationsession.id }}", annotation_packet, function(data) { if (data) {console.log(data);}});
};
</script>
{% endblock %}

{% block content %}
<h2>{% if annotationsession.title %}{{ annotationsession.title }}{% else %}Session ID: {{ annotationsession.id }}{% endif %}</h2>
<div id="container">
  <div id="leftpane">&nbsp;</div>
  <div id="annotation_pane">
    <button id="submitannotation" onClick="create_annotation()" value="Annotate">Annotate</button>
    <textarea name="annotation_text" id="annotation_text"></textarea>
  </div>
  <div id="rightpane">&nbsp;</div>
</div>
<div id="doubleclear"></div>
<div id="collections">
<table><tr>
{% for collection in collections %}
<td style="width:200px; vertical-align: top;">
{% include "annotations/render_collection.html" %}
</td>
{% endfor %}
</tr></table>
</div>
{% endblock %}
