{% load collectionhelpers %}
{% if item.itemtype == "img" %}<div class="annotateditem image">
    <img src="{{ item.payload }}" />
  </div>{% elif item.itemtype == "txt" %}<div class="annotateditem text">
  <p>
    <blockquote>{{ item.payload }}</blockquote>
{% if item.src != "" %}</p><p><small>{{ item.src }}</small>{% endif %}</p>{% elif item.itemtype == "aud" %}<div class="annotateditem audio">
<p><audio src="{{ item.payload }}"></audio></p>{% elif item.itemtype == "vid" %}<div class="annotateditem youtube">
<iframe width="560" height="315" src="//www.youtube.com/embed/{{ item.payload | youtube_helper }}" frameborder="0" allowfullscreen></iframe>
</div>
{% endif %}
