{% extends "annotations/base.html" %}

{% block title %}Sessions{% endblock %}

{% block content %}
{% if session_list %}
<h1>Past Sessions</h1>
<ul>
{% for session in session_list %}
  <li><a href="session/{{session.id}}"><span class="session_title">{% if session.title %}{{session.title}}{% else %}Untitled #{{ session.id }}{% endif %}</span> created by {{ session.creator }}.{% if session.description %}
       <div class="session_description">{{ session.description }}</div>{% endif %}</a> - <a href="{% url "annotation" session.id %}">Continue this session</a></li>
{% endfor %}
</ul>
{% else %}
<h2>No sessions recorded.</h2>
{% endif %}

<hr/>
<h3>Create new session</h3>
<form method="post" action="{% url 'sessionlist' %}">
{% csrf_token %}
<p><label for="title">Title: </label><input type="text" name="title" placeholder="Optional"/></p>
<p><label for="description">Description: </label><input type="text" name="description" placeholder="Optional"/></p>
<input type="submit" value="Begin new session"/>
</form>
{% endblock %}
