{% extends "annotations/base.html" %}

{% block title %}Sessions{% endblock %}

{% block pagestyling %}
#annotations {
    width: 100%;
}
.annotation_text {
	margin: 2em 1em;
}
#annotations div.container:nth-child(2n+1) {
    background: #454545;
}
{% endblock %}

{% block content %}
{% if session %}
<h1><span class="session_title">{% if session.title %}{{session.title}}{% else %}Untitled session #{{ session.id }}{% endif %}</span></h1>
<h2>Session created by {{ session.creator }}</h2>
<h3>Playback:</h3>
<div id="annotations">
{% for annotation in annotations %}
	<div class="annotation container">
		<div class="five columns alpha">{{ annotation.leftitem }}</div>
		<div class="six columns">{% if annotation.annotation %}
			<div class="annotation_text">{{ annotation.annotation }}</div>
{% else %}
		<div class="annotation_silent">&nbsp;</div>
{% endif %}
			<div class="annotation_author">By {{annotation.creator}} on {{annotation.datestamp}}</div>
		</div>
		<div class="five columns omega">{{ annotation.leftitem }}</div>
	</div>
{% endfor %}
</div>
{% else %}
<h2>No sessions recorded.</h2>
{% endif %}


<p>TODO: Add form to create new sessions </p>
{% endblock %}
