{% extends "annotations/base.html" %}

{% block title %}Sessions{% endblock %}

{% block content %}
{% if session_list %}
<h1>Past Sessions</h2>
<ul>
{% for session in session_list %}
  <li><a href="session/{{session.id}}"><span class="session_title">{{session.title}}</span> created by {% session.creator %}.{% if session.description %}
       <div class="session_description">{{ session.description }}</div>{% endif %}</a></li>
{% endfor %}
</ul>
{% else %}
<h2>No sessions recorded.</h2>
{% endif %}


<p>TODO: Add form to create new sessions </p>
{% endblock %}
